<!DOCTYPE html>
<html>
<head>
  <title>FirehoseTestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


 <!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
       </div>
       <%= simple_form_for Quote.new do |f| %>
         <div class="modal-body">
           <%= f.input :saying, :label => "What is the saying you want to add?", :placeholder => "Fear is the disease.Hustle is the antidote" %><br />
           <%= f.input :author, :label => "Who is the author of the quote?", :placeholder => "Travis Kalanick" %>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <%= f.submit 'Add Quote', :class => 'btn btn-danger' %>
         </div>
       <% end %>
     </div>
   </div>
 </div>
 <%= render 'layouts/header' %>

  <hr>
  <br class="clear">

  <div class="container">
    <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 aleart aleart-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <br />
  <br />
  <br />
  <br />

  <%= render 'layouts/footer' %>

</body>
</html>
